body {
    margin: 40px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }
  
  .start {
      background-color:#0a0a23;
      color: #fff;
      border:none;
      border-radius:10px;
      font-size: 24px;
      padding: 8px 8px;
    }
  
  .box1 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box1.blinkup {
      background-color: #bfbfbf;
  }

  .box1.blinkdown {
    background-color: #444; 
  }
  
  .box2 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box2.blinkup {
      background-color: #bfbfbf;
  }

  .box2.blinkdown {
    background-color: #444; 
  }
  
  .box3 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box3.blinkup {
    background-color: #bfbfbf;
}

  .box3.blinkdown {
    background-color: #444; 
  }

  .box4 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box4.blinkup {
    background-color: #bfbfbf;
  }

  .box4.blinkdown {
    background-color: #444; 
  }
  
  .box5 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box5.blinkup {
      background-color: #bfbfbf;
  }

  .box5.blinkdown {
    background-color: #444; 
  }
  
  .box6 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box6.blinkup {
      background-color: #bfbfbf;
  }

  .box6.blinkdown {
    background-color: #444; 
  }
  
  .box7 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box7.blinkup {
      background-color: #bfbfbf;
  }

  .box7.blinkdown {
    background-color: #444; 
  }
  
  .box8 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box8.blinkup {
      background-color: #bfbfbf;
  }

  .box8.blinkdown {
    background-color: #444; 
  }
  
  .box9 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box9.blinkup {
      background-color: #bfbfbf;
  }

  .box9.blinkdown {
    background-color: #444; 
  }
  
  .box10 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box10.blinkup {
      background-color: #bfbfbf;
  }

  .box10.blinkdown {
    background-color: #444; 
  }
  
  .box11 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box11.blinkup {
      background-color: #bfbfbf;
  }

  .box11.blinkdown {
    background-color: #444; 
  }
  
  .box12 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box12.blinkup {
      background-color: #bfbfbf;
  }

  .box12.blinkdown {
    background-color: #444; 
  }

  .box13 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box13.blinkup {
      background-color: #bfbfbf;
  }

  .box13.blinkdown {
    background-color: #444; 
  }

  .box14 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }

  .box14.blinkup {
      background-color: #bfbfbf;
  }

  .box14.blinkdown {
    background-color: #444; 
  }

  .box15 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box15.blinkup {
      background-color: #bfbfbf;
  }

  .box15.blinkdown {
    background-color: #444; 
  }

  .box16 {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 45px;
    font-size: 150%;
  }
  
  .box16.blinkup {
      background-color: #bfbfbf;
  }

  .box16.blinkdown {
    background-color: #444; 
  }
  